:root {
  // breakpoints
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;

  // colors
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --black: #000;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --royal-blue: #3a54ff;
  --hot-pink: #ff4685;

  // Theme colors
  --primary: #80cbc4;
  --primary-dark: hsl(203, 100%, 38%);

  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: var(--hot-pink);
  --light: #f8f9fa;
  --dark: #343a40;

  // Link colors
  --link-color: #1586ff;
  --link-color-dark: #0062cc;

  // fonts
  --font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-color: #565c63;
  --font-color-secondary: #79828d;
  --default-font-size: 1.6rem;

  // grays

  // border
  --border-color: #e6e6e6;

  // Global Properties
  --radio-transition: all 0.25s linear;
  --global-radios: 3px;
}
