// Utilities
//––––––––––––––––––––––––––––––––––––––––––––––––––

.bg { background: rgb(225, 142, 65) !important; }
.bd {border: 1px solid rgb(224, 4, 188) !important;}
.dbug {
  *:not(path):not(g) {
    /*! debug.css | MIT License | zaydek.github.com/debug.css */
    color:                    hsla(210, 100%, 100%, 0.9) !important;
    background:               hsla(210, 100%,  50%, 0.5) !important;
    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

    box-shadow: none !important; } }

    

// width & height
.h-100 {
  height: 100% !important;
  box-sizing: border-box; }
.m-h-100 {
  max-height: 100% !important;
  box-sizing: border-box; }
.w-100 {
  width: 100% !important;
  box-sizing: border-box; }
.m-w-100 {
  max-width: 100% !important;
  box-sizing: border-box; }



// position
.pull-right { float: right !important; }
.pull-left { float: left !important; }
.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important; }



// typography
.right { text-align: right !important; }
.left { text-align: left !important; }
.center { text-align: center !important; }


// Shadows
.shadow { box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !important; }
.shadow-light { box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !important; }


// border 
.tdn {  text-decoration: none !important;}
.border { border: solid 1px #e6e6e6 !important;}
.bd-0 { border-width: 0 !important;}
.bd-1 { border-width: 1 !important;}
.bd-2 { border-width: 2 !important;}